@using DrinksMachineProgram.Entities
@model Coin

<div class="modal-header">
    <h4 class="modal-title">Create Coin</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <form id="DataForm" action="@Url.Action("Create", "Coins")">
        @Html.GetValidationSummary()
        @Html.HiddenFor(model => model.Id)
        <div class="row mb-2">
            @Html.GetLabelFor(model => model.Name, "col-sm-6")
            <div class="col-sm-6">
                @Html.GetEditorFor(model => model.Name)
            </div>
        </div>
        <div class="row mb-2">
            @Html.GetLabelFor(model => model.Value, "col-sm-6")
            <div class="col-sm-6">
                @Html.GetEditorFor(model => model.Value)
            </div>
        </div>
        <div class="row mb-2">
            @Html.GetLabelFor(model => model.QuantityAvailable, "col-sm-6")
            <div class="col-sm-6">
                @Html.GetEditorFor(model => model.QuantityAvailable)
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="SaveButton" class="btn btn-primary btn-sm" type="button">
        <span class="fa fa-save"></span> Save
    </button>
    <button class="btn btn-danger btn-sm" data-bs-dismiss="modal" aria-hidden="true">
        <span class="fa fa-ban"></span> Cancel
    </button>
</div>